.container-floors {
    max-width: 1493px;
    margin-right: auto;
    padding: 27px 15px;
}
.stages-information{
    position: absolute;
    bottom: 24vw;
    right: 1.5vw;
    border: 3px solid #fff;
    padding: 28px;
    border-radius: 32px;
    background-color: rgba(41, 35, 35, 0.267);
    color: black;
    i{
        font-weight: 600;
        color: bisque;
    }
}