.genplan{
    max-height: calc(100vh - $header-height);
    overflow: hidden;
    position: relative;
}
.build-path{
    fill: #27d52aad;
    stroke: rgb(121, 157, 29);
    fill-opacity: 0;  
    stroke-opacity: 0;
    &:hover{
        stroke-opacity: 1;
        cursor: pointer;
        fill-opacity: 0.3;  
    }
}
.booking{
    path{
    fill: red;
    stroke: rgb(209 214 197);
    fill-opacity: 0.3;
    &:hover{
        cursor: not-allowed;
    }
}}
.information{
    position: absolute;
    bottom: 3vw;
    right: 3vw;
    border: 3px solid #fff;
    padding: 28px;
    border-radius: 12px;
    background-color: #fff4;
    backdrop-filter: blur(2px);
    color: black;
    &-list-item{
        list-style: none;
        margin-bottom: 12px;
        font-size: 18px;
        div{
            display: flex;
            justify-content: space-between;
        }
        strong{
            font-weight: 600;
        }
    }
}
