<div class="floor-info">
    <div class="info-item">
        <div class="info-item__title">Номер будинку:</div>
        <div>1</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Поверх:</div>
        <div>2</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">К-ст кімат:</div>
        <div>3</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Площа:</div>
        <div>4</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Ціна за м²:</div>
        <div>5</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Ціна:</div>
        <div>6</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Номер квартири:</div>
        <div>7</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Статус квартири:</div>
        <div>8</div>
    </div>
</div>