<div class="information">
    <h2 class="information-title">Information about apartment</h2>
    <ul class="information-list">
        <li class="information-list_item">
            <div>
                <strong>Адресса:</strong>
                <i id="adress">вул. Незалежності</i>
            </div>
            <div>
                <strong>Поверхів:</strong>
                <i id="floor">9</i>
            </div>
            <div>
                <strong>К-сть вільних квартир:</strong>
                <i id="flat">96</i>
            </div>
        </li>
    </ul>
</div>
