<div class="stages-information">
    <h2>Information about each floor</h2>
    <div>
        <strong>Адресса:</strong>
        <i id="address-stages">вул. Центральна</i>
    </div>
    <div>
        <strong>Поверх:</strong>
        <i id="floor-level">1</i>
    </div>
    <div>
        <strong>Всього квартир:</strong>
        <i id="flats-amount">18</i>
    </div>
    <div>
        <strong>Вільних квартир:</strong>
        <i id="free-flats">5</i>
    </div>
    <div>
        <strong>Акційні квартири:</strong>
        <i id="sales-flats">2</i>
    </div>
    <div>
        <strong>Заброньовано:</strong>
        <i id="booked-flats">2</i>
    </div>
    <div>
        <strong>Проданих:</strong>
        <i id="sold-flats">11</i>
    </div>
</div>
